$like-box-color-active: #828282;
$like-box-color-shape-active: #fff;
$like-box-width: 25px;
$like-box-height: $like-box-width;
$like-box-mobile-width: 34px;
$like-box-mobile-height: $like-box-mobile-width;
$like-box-disabled-color: #d0d0d0;
$like-box-size-mobile-text: 14;
$like-box-text-color: #828282;

$font-family-second: "Helvetica Neue", Helvetica, Arial, sans-serif;